{% macro render() %}
    {% set compo = kwargs.compo %}
    {% set add_attr = '' %}
    {% if compo.height and compo.hide_list %}
        {% set add_attr = ' style="height: %spx; display: none;" height="%s"' % (compo.height, compo.height) %}
    {% elif compo.height and not compo.hide_list %}
        {% set add_attr = ' style="height: %spx;" height="%s"' % (compo.height, compo.height) %}
    {% elif compo.hide_list %}
        {% set add_attr = ' style="display: none;"' %}
    {% else %}
        {% set add_attr = '' %}
    {% endif %}
    {% if compo.hide_list %}
        {% set hide = 'display: none; ' %}
    {% endif %}
    <div class="epfl-list"{{ add_attr }}>
        {{ caller() }}
    </div>
{% endmacro %}
