{% macro render() %}
    {% set compo = kwargs.compo %}
    {% set compo_col = compo.compo_col - compo.label_col %}
    {% set add_attr = '' %}
    {% if compo.height and compo.hide_list %}
        {% set add_attr = (' style="height: %spx; display: none;" height="%s"' % (compo.height, compo.height))|safe %}
    {% elif compo.height and not compo.hide_list %}
        {% set add_attr = (' style="height: %spx;" height="%s"' % (compo.height, compo.height))|safe %}
    {% elif compo.hide_list %}
        {% set add_attr = ' style="display: none;"'|safe %}
    {% else %}
        {% set add_attr = '' %}
    {% endif %}
    {% if compo.hide_list %}
        {% set hide = 'display: none; ' %}
    {% endif %}

    {% if compo.label %}
        <div class="row">
        <div class="col-sm-{{ compo_col }} col-sm-offset-{{ compo.label_col }}">
    {% endif %}
    <div class="epfl-list epfl-typeahead-list"{{ add_attr }}>
        {{ caller() }}
    </div>
    {% if compo.label %}
        </div>
        </div>
    {% endif %}

{% endmacro %}
